body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



  @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&family=Paytone+One&family=Puritan:wght@400;700&display=swap');


html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body {
  text-align: center;
  background-color: #fffff5;
  font-family: 'Puritan', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  font-size: 125%;
  line-height: 1.5rem;
  accent-color: #5db369;    
}

h1, h2 {
  font-family: 'Paytone One', sans-serif;
}


.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1024px;
}


header {
  padding-top: 10px;
}

.all {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}


h1 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 2.5rem;
}


form {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 0.9rem;
  padding-bottom: 30px;
}

fieldset {
  border: solid #dd7675 4px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

legend {
  padding: 10px;
  margin-right: 50px;
  background-color: #dd7675;
  border-radius: 5px;
  letter-spacing: 1.2px;
}

input {
  margin-right: 5px;
}


label {
  margin-right: 15px;
}


button {
  background-color: #5db369;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}


button:focus-visible, 
button:hover {
  background-color: #99ff99;
  transition: 0.3s ease-out;
  border: none;
  color: black;
}

.activity {
  font-weight: bold;
  background: rgb(221,118,117);
  background: linear-gradient(90deg, rgba(221,118,117,1) 0%, rgba(255,225,225,1) 95%);
  padding: 20px;
  border-radius: 5px;
}

.side-note {
  font-size: 0.8em;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

a:visited, 
a:link,
a:hover,
a:focus
 {
  color: rgb(83, 74, 74);
}   


footer {
  font-size: 0.8rem;
  background-color: #B3625D;
}

footer p {
  margin: 0 auto;
}

/* media queries */

@media (max-width: 700px) {
  legend {
    padding: 5px;
    margin-right: 0;
  }
}


@media(max-width: 500px) {
  .wrapper {
  width: 90%;
  }
  
  h1 {
    font-size: 2rem;
  }

   legend {
    padding: 2px;
   }

   fieldset {
    border: solid #dd7675 3px;
    line-height: 1.2rem;
   }

   .activity {
    padding: 5px;
    margin-bottom: 20px;
   }
}
